// Theme the news page..
h1{color:$news_section_color;}
.view-news-articles.view-display-id-page_1 {
     @include section-colors($news_section_color);
      width:100%;
      

     .attachment {

      margin-top:35px;
      height: 318px;
      border-bottom: 1px dashed #c9c6c4;
      
        .view-display-id-attachment_1 div.view-content {
            @include clearfix;
            .views-row {
              @include clearfix;
              .views-field-field-news-image-fid { 
                 float:left; 
                 width:256px;
                 img {
                   max-width: 100%;
                 }
              }
              
              .views-field-title{ 
                float:right; 
                h3{
                    
                   a {
                    //text-decoration:none;
                    //display: block;
                    //font-size: 20px;
                    //width: 264px;
                    //margin-top:10px;
                    //color:$news_section_color;
                    
                    //&:hover{ text-decoration:underline; }
                  }
                }
             }
            .views-field-body{ 
              float:right; 
              width:258px; 
              margin: 15px auto 30px; 
              padding:7px;
            }
            .views-field-view-node{  
              float:right; 
            }
            }
          }      
     }        
}

//$burnt-orange: #f8581a;
.view-display-id-page_1 > .view-content .views-row {      
    margin: 10px;
    border-bottom: 1px dashed #c9c6c4;
    height:195px;
    
    & > div {
       float: left;
       clear: both;
       padding: 10px; 
    }
    .views-field-title {
      font-size: 20px;
      h3 a {
        text-decoration: none;
        color:$news_section_color;
        
        &:hover{ text-decoration:underline; }
      }
    }
    .views-field-field-news-image-fid {
      float:left!important;           
    }
    .views-field-body{
        float:right; 
        width: 70%;
        clear: none;
    }     
}

   


      
     
    




 
  



//@include article-list;

