/* FRONT PAGE */
@include remove-content-background;
@include content-top-blocks;

#block-views-home_page_banner-block_1 {
  @include undo-imagecache-style;

  padding: 4px;
  width: 611px;
  float: left;

  // Ensure the slideshow never escapes the container
  .block-inner {
    // Width and height should match imagecache style "Home-image_613"
    width: 610px;
    height: 312px;
    overflow: hidden;
  }

  li {
    float: left;
    list-style-type: none;
    display: block;
    position: relative;

    .views-field-teaser {
      position: absolute;
      width: 370px;
      padding: 20px;
      bottom: 25px;
      left: 0px;
      background: #fff;

      .field-content {
        overflow: hidden;
        height: 50px;

        .banner-title h3 {
          // TODO: Style up this H3
        }
        .banner-teaser {
          // TODO: Style up this teaser;
        }
      }
    }
  }
}

#block-views-text_bundles_featured-block_1 {
  .view-content ul {
    li {
      padding: 0 0 38px 51px;
      background: url(../images/pdf.gif) 0 0 no-repeat;
    }
  }
}

// A few tweaks to the panels layout to ensure it renders nicely cross browser
.panel-display {
  .panel-col-top {
    .panel-region-separator {
      display: none;
    }
  }
  .center-wrapper {
    .panel-col-first {
      clear: both;
    }
    .panel-panel {
      width: 313px;
    }
  }
} 