@import 'compass/css3/border-radius'; 

/* Simple bordered box */
@mixin bordered-box {
  padding: 3px;
  border: solid 1px $pdf_icon_grey;
}
@mixin undo-bordered-box {
  padding: inherit;
  border: none;
}

/* Generic rounded box */
@mixin rounded-box {
  border: 1px solid #b1a6b7;
  @include border-radius(6px);
}
@mixin rounded-box-with-gradient {
  background-image: -moz-linear-gradient(top, #F4F4F4, #F9F9F9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4));
  @include rounded-box;
}
