/* Removes the white background from the content area and cleans up the padding
   to allow for custom page layout, block placement.  Very useful for Panels
   pages. */
@mixin remove-content-background {
  #content-inner {
    background: inherit;

    #content-area {
      padding: 0 10px;
    }
  }
}

@mixin blocky-link($color) {
  margin-left: -5px;
  padding: 3px 5px;
  display: block;
  width: 100%;
  color: $color;
  text-decoration: none;

  &:hover {
    background: $color;
    color: #fff;
  }
}
