/* Removes bullets and other common styles from <ul> and <ol> lists.
   Usage:  ul {
             @include undo-list-styles;
           } */
@mixin undo-list-style {
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

@mixin pdf-list-item($link_color) {
  padding: 0 0 15px 51px;
  background: url(../images/pdf_icon.gif) 0 2px no-repeat;

  .field-content {
    a {
      @include blocky-link-set-color($link_color);
    }
  }
}

