/* BLOCKS / BOXES */
.block, .box {
  @include rounded-box-with-gradient;
  padding: 18px 27px;
  margin: 0 0 20px 0;
  background: #fff;
  overflow: hidden; /* Box model tweak, expands all blocks */

  .title {
    height: 21px; /* 24px - 3px padding */
    padding: 3px 0 0 21px;
    margin-bottom: 22px;
    overflow: hidden;
    background: url(../images/title_blip_orange.png) 0 0 no-repeat;

    font-size: 1.4em;
    font-weight: lighter;
    color: #FF8B00;
  }
}


/* Newsletter block */
#block-webform-client-block-1 {
  .webform-component-email {
    float: left;
    .form-item {
      margin: 0;
    }
  }
  .form-text {
    width: 142px;
  }
  .form-submit{
    margin-left: 10px;
  }
  label{
    display:none;
  }
}


