/* ImageCache styles */
img.imagecache {
  padding: 3px;
  border: solid 1px $pdf_icon_grey;
}

/* Use this to selectively remove the imagecache style */
@mixin undo-imagecache-style {
  img.imagecache {
    padding: auto;
    border: auto;
  }
}
