// Globally applied CSS
@import "reset";
@import "default";
@import "typography";
@import "image-styles";
@import "blocks";
@import "forms";
@import "nodes";
@import "header";
@import "navigation";
@import "footer";
@import "pagination";
@import "testimonial";

// TODO: Have Chris look at this. Refactor this code, what is this doing?
// #bottom { width:942px; margin:448px 30px; position:absolute; height:100%; }

/* Main page layout structure, from basic theme's layout.sass */
#main, #header, #footer {
  width: 960px;
  margin: 0 auto;
}
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}
.sidebar {
  float: left;
}
#sidebar-second {
  float: right;
}
#footer {
  float: none;
  clear: both;
}
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}
.two-sidebars,
.sidebar-left {
  .center {
    margin-left: $first_sidebar_width + 20px;
  }
}
#sidebar-first {
  width: $first_sidebar_width;
  margin-right: -($first_sidebar_width + 20px);
}
.two-sidebars,
.sidebar-right {
  .center {
    margin-right: $second_sidebar_width + 20px;
  }
}
#sidebar-second {
  width: $second_sidebar_width;
}


/* Styles for the main layout */
#bg {
  height: 200%;
  left: -50%;
  position: fixed;
  top: 0%;
  width: 200%;
  z-index: -9999;
}
#bg img {
  bottom: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
#content-inner {
  background: #fff;

  #content-top {
    padding: 0 10px;

    #content-top-left {
      float: left;
      width: 620px;
      margin-right: 27px;
    }
    #content-top-right {
      width: 293px;
      float: left;
    }    
  }

  #content-header {
    clear: both;
    padding: 20px 40px 10px 40px;
  }
  #content-area {
    clear: both;
    padding: 0 40px 30px 40px;
  }
}











///////////////
////////////// TODO: Clean this up!
//////////////

/* .wrapper {
  display: block;
  height: 2000px;
  margin: 0 auto;
  width: 960px;
}
#main {
  display: block;
  height: 100%;
  margin-top: 80px;
  min-height: 1360px;
  padding: 20px 0 10px 15px;
  
  width: 960px;
}
@mixin breadcumb {

}
@mixin content {
  margin-top: 82px;
  min-height: 1335px;
}
div.main_content {
  p {
    color: #000000;
    display: block;
    font-family: verdana;
    font-size: 12px;
    line-height: 22px;
    padding: 10px 20px;
  }
}
#contact_us {
  p {
    padding: 10px 40px;
  }
  .row {
    float: left;
    padding: 25px 0 0 40px;
    width: 500px;
  }
  input {
    background: url(../images/text_field.png) no-repeat;
    color: #999;
    height: 38px;
    padding: 4px 10px 5px;
    width: 443px;
  }
  textarea {
    background: url(../images/text_area.png) no-repeat;
    border: none;
    display: block;
    font-family: verdana;
    font-size: 12px;
    height: 212px;
    line-height: 22px;
    padding: 10px;
    width: 444px;
  }
}
h2 {
  color: #572983;
  display: block;
  font-size: 27px;
  line-height: 40px;
  padding: 10px 0 0 22px;
}
#banner {
  img {
    height: 271px;
    margin: 0;
    padding: 5px 5px 0;
    width: 560px;
  }
}
@mixin rounded {
  background-image: -moz-linear-gradient(top, #F4F4F4, #F9F9F9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4));
  border: 1px solid #b1a6b7;
}
div.right_col {
  .sub_menu {
    ul {
      li {
        border-bottom: 1px dashed #c9c6c4;
        margin: 10px 22px 0 5px;
        padding: 10px;
      }
      a {
        &:hover {
          background: #467707;
          padding: 10px;
        }
      }
    }
  }
  .about_us.newsletter {
    margin-top: 18px;
    width: 304px;
  }
  .testimonial_box {
    height: 452px;
    margin-top: 20px;
    padding: 10px;
  }
  .text_bundles {
    .title {
      background: url(../images/text_bundles_03.gif) no-repeat;
      height: 31px;
      margin: 28px;
      width: 137px;
    }
    .download {
      .dl_icon {
        margin: 5px;
      }
      a {
        padding: 5px;
        text-decoration: none;
      }
    }
  }
  #contact_details {
    height: 286px;
  }
} */