

#block-menu_block-2 {
	@include undo-block-style-no-title;
	width:100%;
	margin:0;
	padding:0;
}

.menu-block-2 {
  width: 960px;
  height: 41px;
  margin: 20px auto;
  background: url(../images/nav_bg.jpg) repeat-x center top;

  @include border-radius(0.2em);

  // Applies style to ONLY the primary navigation, not pop-up sub-nav
  & > ul {
    @include undo-list-style;
    z-index: #{$nav_z_index - 20};

    & > li {
      display: block;
      float: left;
      background: url(../images/nav_separator.png) no-repeat right center;
      position: relative;
      z-index: $nav_z_index;

      &.last {
        background: none;
      }

      // Main primary links
      & > a {
        display: block;
        text-transform: uppercase;
        font-size: 1.1em;
        color: #fff;
        padding: 3px 20px;
        margin: 9px 10px;

        &.active, &:hover {
          text-decoration: none;
          background: $nav_active_color;
          @include border-radius(0.4em);
        }
      }

      // Sub menu (& refers to <li>)
      & > ul {
        display: none;
        position: absolute;
        z-index: #{$nav_z_index - 10};
        top: 38px;
        left: 0;
        width: 200px;

        @include sub-navigation-list-style;
        @include sub-navigation-background;
        a {
          @include blocky-link;
        }

        @include border-top-right-radius(0.5em);
        @include border-bottom-right-radius(0.5em);
        @include border-bottom-left-radius(0.5em);
        @include single-box-shadow(rgba(0, 0, 0, 0.5), 0, 3px, 2px, 1px);

        padding: 10px 20px;
      }

      // Expand drop-down menu on li:hover
      // The HTML here is <li><a></a> <ul>...submenu...</ul></li>
      &.expanded:hover {
        background: lighten($nav_submenu_background, 50%);
        @include border-top-left-radius(0.5em);
        @include border-top-right-radius(0.5em);
        @include single-box-shadow(rgba(0, 0, 0, 0.5), 0, 2px, 2px, 1px);

        & > a {
          background: none;
          color: $nav_active_color;
        }

        ul {
          display: block;
        }
      }
    }
  }

}
