body {
  font-family:verdana;
  font-size:12px;
  line-height:18px;
  color: $color_body_text;
}


  h1              { font-size: 2em;                      margin-bottom: 0.75em; }
  h2              { font-size: 1.5em; line-height: 1;    margin-bottom: 1.00em; }
  h3, h4              { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
  //h4              { font-size: 1em;   font-weight: bold; margin-bottom: 1.50em; }
  h5              { font-size: 1em;   font-weight: bold;                        }
  
  
a {
  margin-left: -5px;
  padding: 3px 5px;
  display: block;
  text-decoration: none;
  width:100%;
  //background: $color_body_text;

  &:hover {
    background: $color_body_text;
    color:#fff;
    
  }
}  

@mixin section-colors($color){
    a{
      color: $color;
     
      &:hover {
        background: $color;
         color:#fff;
      }
      
    }
  h2,h3,h4{ color:$color;} 
}

