// Sidebar widths.
$first_sidebar_width: 200px;
$second_sidebar_width: 300px;

// Global general colours
$color_body_text: #4A4A4A;
$pdf_icon_grey: #C9C6C4;
$Page_heading_color:#562787;

// Form colours
$color_button: #ff8c00;

// Navigation colours
$nav_submenu_color: #2A4704;
$nav_submenu_background: #E7EEDE;
$nav_submenu_separator: #ccc;

// Section colours
$default_section_color: #000;
$news_section_color: #FF8B00;
$text_bundles_section_color: #2A4704;
$videos_section_color: #5E288C;
$testimonials_section_color: #666;

