// Things we downloaded..
@import 'compass';
@import 'compass/css3';
@import 'compass/css3/border-radius'; 
@import "compass/css3/box-shadow";
@import 'sassy-buttons';

@mixin debug{ 

  .node{background: pink !important;}
  .view{background: aqua !important;}
  h1{background: yellow !important;}
  .views-field-title{ background: red !important;}
}

// Global variables
@import "variables";

// Helper mixins
@import "helpers/button";
@import "helpers/rounded_box";
@import "helpers/article-list";

// Bootstrap the SR-Online site style, the layout.scss includes and renders
// all styles.
@import "layout";

body{ @include debug;}


/* Specific site sections and pages */
body.front                     { @import "pages/page-front"; }
body.page-news                 { @import "pages/page-news"; }
body.page-videos               { @import "pages/page-videos"; }
body.page-text-bundles         { @import "pages/page-text-bundles"; }
body.page-content-contact-us   { @import "pages/page-content-contact-us"; }

// Node types
body.node-type-basic-page      { @import "nodes/node-basic-page"; }
body.node-type-webform         { @import "nodes/node-webform"; }

