/* line 2, ../scss/layout.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 3, ../scss/layout.scss */
body {
  font-family: verdana;
  font-size: 12px;
  line-height: 18px;
  color: #4A4A4A;
}

/* line 4, ../scss/layout.scss */
body, h1, h2, h3, h4, h5, h6, form, fieldset, label, p, span, input, img, blockquote, ul, ul li {
  margin: 0;
  padding: 0px;
  border: 0px;
  outline: 0;
  font-weight: normal;
}

/* line 6, ../scss/layout.scss */
#bg {
  position: fixed;
  top: 0%;
  left: -50%;
  width: 200%;
  height: 200%;
}

/* line 7, ../scss/layout.scss */
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

/* line 9, ../scss/layout.scss */
.wrapper {
  width: 960px;
  height: 2000px;
  margin: 0 auto;
  display: block;
}

/* line 11, ../scss/layout.scss */
div#header {
  width: 960px;
  height: 139px;
  margin: 0 auto;
}
/* line 12, ../scss/layout.scss */
div#header a.logo {
  background: url("../images/logo.png") no-repeat;
  width: 296px;
  height: 128px;
  position: absolute;
}
/* line 14, ../scss/layout.scss */
div#header #search_bar {
  width: 240px;
  height: 46px;
  position: relative;
  background: url("../images/search.png") no-repeat;
  float: right;
  margin: 32px 0 50px  0;
}
/* line 15, ../scss/layout.scss */
div#header #searchinput {
  position: absolute;
  top: 51px;
  left: 7px;
  width: 184px;
  height: 34px;
  margin: -48px 1px 5px -5px;
  font: inherit 20px Verdana, Geneva, sans-serif;
  color: #999;
  border: 0;
  background-color: transparent;
  border: none;
}
/* line 16, ../scss/layout.scss */
div#header #submit_btn {
  position: absolute;
  top: -5px;
  right: 2px;
  width: 50px;
  height: 40px;
  margin-top: 5px;
  padding: 0;
}

/* line 19, ../scss/layout.scss */
#banner_area {
  width: 942px;
  height: 345px;
  padding: 5px;
  margin: 15px 24px 0 9px;
  position: absolute;
}
/* line 20, ../scss/layout.scss */
#banner_area #block-views-home_page_banner-block_1 {
  float: left;
}
/* line 21, ../scss/layout.scss */
#banner_area #block-views-home_page_banner-block_1 .slides {
  background: url("../images/banner_bg.jpg") no-repeat;
  height: 321px;
  margin: 0;
  width: 622px;
  padding: 5px;
}
/* line 22, ../scss/layout.scss */
#banner_area #block-views-home_page_banner-block_1 li {
  float: left;
  list-style-type: none;
  display: block;
}

/* line 26, ../scss/layout.scss */
#banner_left {
  float: left;
  width: 640px;
}

/* line 27, ../scss/layout.scss */
#banner_right {
  float: right;
  width: 300px;
}

/* line 29, ../scss/layout.scss */
#main {
  width: 960px;
  padding: 20px 0 10px 15px;
  min-height: 1360px;
  height: 100%;
  display: block;
  position: absolute;
  margin-top: 80px;
}

/* line 60, ../scss/layout.scss */
div.main_content {
  min-height: 1335px;
  width: 612px;
  background: #fff;
  float: left;
}
/* line 41, ../scss/layout.scss */
div.main_content #breadcumb {
  float: left;
  padding: 15px 14px 0 20px;
  width: 500px;
  height: 24px;
  clear: both;
  overflow: hidden;
}
/* line 43, ../scss/layout.scss */
div.main_content #breadcumb ul {
  float: left;
  padding: 0;
  margin: 0;
  width: 500px;
}
/* line 45, ../scss/layout.scss */
div.main_content #breadcumb ul li {
  float: left;
  padding: 0 14px 0 5px;
  margin: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  background: url("../images/arrow8x8.jpg") no-repeat right 5px;
}
/* line 46, ../scss/layout.scss */
div.main_content #breadcumb ul li .last {
  padding-right: 0;
  background: none;
}
/* line 49, ../scss/layout.scss */
div.main_content #breadcumb a {
  color: gray;
  font-weight: bold;
}
/* line 50, ../scss/layout.scss */
div.main_content #breadcumb .last {
  padding-right: 0;
  background: none;
}
/* line 66, ../scss/layout.scss */
div.main_content p {
  display: block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
  font-family: verdana;
}

/* line 69, ../scss/layout.scss */
#contact_us {
  min-height: 685px;
}
/* line 70, ../scss/layout.scss */
#contact_us p {
  padding: 10px 40px;
}
/* line 71, ../scss/layout.scss */
#contact_us .row {
  padding: 25px 0 0 40px;
  width: 500px;
  float: left;
}
/* line 72, ../scss/layout.scss */
#contact_us input {
  width: 443px;
  height: 38px;
  background: url(../images/text_field.png) no-repeat;
  padding: 4px 10px 5px;
  color: #999;
}
/* line 73, ../scss/layout.scss */
#contact_us textarea {
  width: 444px;
  height: 212px;
  background: url(../images/text_area.png) no-repeat;
  padding: 10px;
  border: none;
  display: block;
  font-family: verdana;
  font-size: 12px;
  line-height: 22px;
}

/* line 77, ../scss/layout.scss */
h2 {
  display: block;
  padding: 10px 0 0 22px;
  font-size: 27px;
  line-height: 40px;
  color: #572983;
}

/* line 78, ../scss/layout.scss */
#banner {
  width: 569px;
  height: 280px;
  background: url(../images/banner_holder.jpg);
  margin: 10px auto;
}
/* line 79, ../scss/layout.scss */
#banner img {
  width: 560px;
  height: 271px;
  margin: 0;
  padding: 5px 5px 0;
}

/* line 89, ../scss/layout.scss */
div.right_col {
  min-height: 1335px;
  width: 320px;
  float: right;
}
/* line 95, ../scss/layout.scss */
div.right_col .sub_menu {
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4));
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #b1a6b7;
  height: 385px;
  margin: 0;
}
/* line 99, ../scss/layout.scss */
div.right_col .sub_menu ul {
  list-style: none;
  margin: 0 0 0 20px;
  padding-top: 13px;
}
/* line 103, ../scss/layout.scss */
div.right_col .sub_menu ul li {
  border-bottom: 1px dashed #c9c6c4;
  margin: 10px 22px 0 5px;
  padding: 10px;
}
/* line 104, ../scss/layout.scss */
div.right_col .sub_menu ul a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
/* line 105, ../scss/layout.scss */
div.right_col .sub_menu ul a:hover {
  background: #467707;
  padding: 10px;
}
/* line 113, ../scss/layout.scss */
div.right_col .about_us.newsletter {
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4));
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #b1a6b7;
  width: 304px;
  margin-top: 18px;
}
/* line 118, ../scss/layout.scss */
div.right_col .testimonial_box {
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4));
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #b1a6b7;
  margin-top: 20px;
  height: 452px;
}
/* line 124, ../scss/layout.scss */
div.right_col .text_bundles {
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4));
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #b1a6b7;
  height: 313px;
  margin-top: 162px;
}
/* line 129, ../scss/layout.scss */
div.right_col .text_bundles .title {
  background: url(../images/text_bundles_03.gif) no-repeat;
  height: 31px;
  margin: 28px;
  width: 137px;
}
/* line 135, ../scss/layout.scss */
div.right_col .text_bundles .download {
  padding: 5px;
  margin: 20px;
}
/* line 136, ../scss/layout.scss */
div.right_col .text_bundles .download .dl_icon {
  margin: 5px;
}
/* line 137, ../scss/layout.scss */
div.right_col .text_bundles .download a {
  padding: 5px;
  text-decoration: none;
}
/* line 141, ../scss/layout.scss */
div.right_col #contact_details {
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4));
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #b1a6b7;
  height: 286px;
}

/* line 4, ../scss/navigation.scss */
.menu {
  width: 960px;
  height: 41px;
  background: url(../images/nav_bg.jpg) repeat-x center top;
  margin: 30px auto 0px auto;
  padding: 0px 20px 0px 20px;
  position: absolute;
  border-radius: 6px;
}

/* line 15, ../scss/navigation.scss */
ul.menu,
ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 21, ../scss/navigation.scss */
ul.menu {
  position: relative;
  z-index: 597;
}

/* line 26, ../scss/navigation.scss */
ul.menu li:hover > ul {
  visibility: visible;
  color: #2a4704;
}

/* line 31, ../scss/navigation.scss */
ul.menu li.hover,
ul.menu li:hover {
  position: relative;
  z-index: 599;
  border-radius: 6px;
  cursor: pointer;
  background: url(../images/Hover_bg.jpg) repeat-x left top;
}

/* line 39, ../scss/navigation.scss */
ul.menu li {
  float: left;
  display: block;
  height: 45px;
  color: #999;
  font: 14px Verdana;
  background: url(../images/spacer.jpg) no-repeat right center;
}

/* line 47, ../scss/navigation.scss */
ul.menu li a {
  display: block;
  padding: 11px 20px 0 20px;
  height: 35px;
  color: #fff;
  font: 16px verdana;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 56, ../scss/navigation.scss */
ul.menu li a:hover {
  color: #2a4704;
}

/* line 61, ../scss/navigation.scss */
ul.menu.nav_sub {
  visibility: hidden;
  position: absolute;
  padding: 17px;
  top: 39px;
  left: 0px;
  z-index: 598;
  background: url(../images/drop_down_bg.jpg) repeat-x left top;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* line 76, ../scss/navigation.scss */
ul.nav_sub li {
  list-style: none;
  display: block;
  padding: 0;
  height: 45px;
  float: none;
  width: 188px;
  border-bottom: 1px solid #e5e5e5;
  background: none;
}

/* line 88, ../scss/navigation.scss */
ul.nav_sub li a {
  color: #999;
  list-style: none;
  display: block;
  height: 25px;
  float: none;
  width: 145px;
  background: none;
  font: 12px Arial, Helvetica, sans-serif;
}

/* line 99, ../scss/navigation.scss */
ul.nav_sub li a:hover {
  background: #2a4704;
  color: #fff;
}

/* line 6, ../scss/footer.scss */
#footer.home {
  margin: 1155px 20px;
}
/* line 3, ../scss/footer.scss */
#footer.home #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/footer.scss */
#footer.home #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 7, ../scss/footer.scss */
#footer.news, #footer.about {
  margin: 1459px 14px;
}
/* line 3, ../scss/footer.scss */
#footer.news #footer_top, #footer.about #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/footer.scss */
#footer.news #bottom_footer, #footer.about #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 8, ../scss/footer.scss */
#footer.videos {
  margin: 1516px 14px;
}
/* line 3, ../scss/footer.scss */
#footer.videos #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/footer.scss */
#footer.videos #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 9, ../scss/footer.scss */
#footer.contact {
  margin: 823px 13px;
}
/* line 3, ../scss/footer.scss */
#footer.contact #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/footer.scss */
#footer.contact #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 13, ../scss/core.scss */
#video, .field-content {
  width: 302px;
  height: 182px;
  float: right;
}

/* line 14, ../scss/core.scss */
#block-webform-client-block-1 {
  width: 290px;
  height: 104px;
  float: right;
  background: #fff;
  margin: 35px -1px 5px;
  padding: 20px 0 0 15px;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  position: relative;
}
/* line 24, ../scss/core.scss */
#block-webform-client-block-1 .title {
  background: url(../images/newsletter_text.png) no-repeat;
  width: 188px;
  height: 26px;
  position: absolute;
  margin: 0px 14px;
}
/* line 25, ../scss/core.scss */
#block-webform-client-block-1 .form-text {
  width: 186px;
  height: 29px;
  margin: 38px 0 0 16px;
  padding: 3px;
  font-size: 10px;
  position: relative;
  background: url(../images/newsletter.png) no-repeat;
  border: 0;
  color: #999999;
}
/* line 26, ../scss/core.scss */
#block-webform-client-block-1 .form-submit {
  line-height: 30px;
  -webkit-box-sizing: border-box;
  padding: 0 15px;
  height: 30px;
  display: inline-block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #995400;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  width: 68px;
  text-align: center;
  background-color: #0b99c2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #27c5f3), color-stop(70%, #0b99c2));
  background: -webkit-linear-gradient(#27c5f3, #0b99c2 70%);
  background: -moz-linear-gradient(#27c5f3, #0b99c2 70%);
  background: -o-linear-gradient(#27c5f3, #0b99c2 70%);
  background: -ms-linear-gradient(#27c5f3, #0b99c2 70%);
  background: linear-gradient(#27c5f3, #0b99c2 70%);
  -webkit-box-shadow: #6fd8f7 0 1px 0 inset;
  -moz-box-shadow: #6fd8f7 0 1px 0 inset;
  box-shadow: #6fd8f7 0 1px 0 inset;
  border: 1px solid #0a86aa;
  color: white;
  text-shadow: #086d8a 0 -1px 0;
  margin-top: -48px;
  margin-right: 10px;
  border: 0;
  height: 30px;
  float: right;
}
/* line 10, ../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.0/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-webform-client-block-1 .form-submit:hover {
  background-color: #0a86aa;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #0fbff1), color-stop(75%, #0a86aa));
  background: -webkit-linear-gradient(#0fbff1 3%, #0a86aa 75%);
  background: -moz-linear-gradient(#0fbff1 3%, #0a86aa 75%);
  background: -o-linear-gradient(#0fbff1 3%, #0a86aa 75%);
  background: -ms-linear-gradient(#0fbff1 3%, #0a86aa 75%);
  background: linear-gradient(#0fbff1 3%, #0a86aa 75%);
}
/* line 13, ../../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/sassy-buttons-0.1.0/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
#block-webform-client-block-1 .form-submit:active {
  -webkit-box-shadow: #097b9b 0 1px 2px inset;
  -moz-box-shadow: #097b9b 0 1px 2px inset;
  box-shadow: #097b9b 0 1px 2px inset;
}

/* line 29, ../scss/core.scss */
#bottom {
  width: 942px;
  margin: 448px 30px;
  position: absolute;
  height: 100%;
}

/* line 30, ../scss/core.scss */
.item {
  float: left;
  width: 100%;
  padding: 7px 0 7px 0;
}
/* line 34, ../scss/core.scss */
.item .icon {
  float: left;
  margin: 20px 15px;
  width: 70px;
  height: 70px;
}
/* line 35, ../scss/core.scss */
.item .pdf {
  float: left;
  margin: 26px 15px;
  width: 37px;
  height: 44px;
}
/* line 36, ../scss/core.scss */
.item .info {
  margin: 0;
}
/* line 37, ../scss/core.scss */
.item p {
  display: block;
  width: 175px;
  margin-top: 4px;
  float: left;
  margin-top: 4px;
}
/* line 38, ../scss/core.scss */
.item h2 {
  color: #7d3bb5;
  font-size: 16px;
  margin-bottom: -9px;
}

/* line 42, ../scss/core.scss */
.box {
  width: 301px;
  height: 670px;
  float: left;
  background: #fff;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  position: relative;
}

/* line 44, ../scss/core.scss */
.news {
  margin-left: -1px;
}
/* line 45, ../scss/core.scss */
.news #heading_1 {
  background: url(../images/news.png) no-repeat;
  widht: 125px;
  height: 26px;
  margin: 18px;
}

/* line 47, ../scss/core.scss */
.text {
  margin-left: 20px;
}
/* line 48, ../scss/core.scss */
.text #heading_2 {
  background: url(../images/text.png) no-repeat;
  widht: 136px;
  height: 26px;
  margin: 18px;
}

/* line 50, ../scss/core.scss */
.testimonials {
  margin-left: 20px;
}
/* line 51, ../scss/core.scss */
.testimonials #heading_3 {
  background: url(../images/testimonials.png) no-repeat;
  widht: 135px;
  height: 26px;
  margin: 18px;
}

/* line 54, ../scss/core.scss */
.featured_news {
  height: 318px;
  width: 556px;
  margin: 0 auto;
  border-bottom: 1px dashed #c9c6c4;
}
/* line 60, ../scss/core.scss */
.featured_news #featured_img {
  width: 305px;
  height: 282px;
  background: url(../images/featured_holder.png) no-repeat;
  margin: 10px auto;
  float: left;
}
/* line 62, ../scss/core.scss */
.featured_news #featured_text {
  float: right;
  width: 238px;
  height: 282px;
}
/* line 63, ../scss/core.scss */
.featured_news #featured_text h2 {
  display: block;
  font-size: 22px;
  padding: 10px;
  color: ff6600;
}
/* line 64, ../scss/core.scss */
.featured_news #featured_text p {
  display: block;
  padding: 10px;
  margin-top: -12px;
}
/* line 65, ../scss/core.scss */
.featured_news #featured_text a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  color: ff6600;
}
/* line 66, ../scss/core.scss */
.featured_news #featured_text a:hover {
  text-decoration: underline;
}

/* line 71, ../scss/core.scss */
.news_list {
  width: 556px;
  height: 195;
  margin: 0 auto;
  border-bottom: 1px dashed #c9c6c4;
}
/* line 76, ../scss/core.scss */
.news_list #news_image {
  width: 113px;
  height: 114px;
  background: url(../images/news_holder.png) no-repeat;
  margin: 10px auto;
  float: left;
}
/* line 77, ../scss/core.scss */
.news_list #news_text {
  float: right;
  width: 443px;
  height: 136px;
}
/* line 79, ../scss/core.scss */
.news_list #news_text a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  color: ff6600;
}
/* line 80, ../scss/core.scss */
.news_list #news_text a:hover {
  text-decoration: underline;
}
/* line 83, ../scss/core.scss */
.news_list h2 {
  color: #ff6600;
  margin-left: -22px;
}

/* line 85, ../scss/core.scss */
.news_list.last {
  border-bottom: none;
}

/* line 87, ../scss/core.scss */
#pagination {
  border: 0;
  margin: 10px 0;
  padding: 0;
  float: right;
  width: 250px;
}
/* line 89, ../scss/core.scss */
#pagination li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 22px;
  list-style: none;
  margin-right: 2px;
}
/* line 91, ../scss/core.scss */
#pagination a {
  background: #e7e7e7;
  margin-right: 2px;
}
/* line 92, ../scss/core.scss */
#pagination a:link, #pagination a:visited {
  color: #2a4704;
  display: block;
  float: left;
  padding: 10px 8px;
  text-decoration: none;
}
/* line 93, ../scss/core.scss */
#pagination a:hover {
  border: solid 1px #2a4704;
}
/* line 96, ../scss/core.scss */
#pagination .active {
  background: #2a4704;
  color: #FFFFFF;
  font-weight: bold;
  display: block;
  float: left;
  padding: 10px 8px;
}

/* line 99, ../scss/core.scss */
.featured_video {
  width: 566px;
  height: 450px;
  margin: 0 auto;
  border-bottom: 1px dashed #c9c6c4;
}
/* line 100, ../scss/core.scss */
.featured_video #featured_vid {
  width: 569px;
  height: 337px;
  background: url(../images/video_holder.png) no-repeat;
  margin: 10px  auto;
}

/* line 103, ../scss/core.scss */
.video_list {
  width: 566px;
  height: 257px;
  margin: 0 auto;
  border-bottom: 1px dashed #c9c6c4;
}
/* line 104, ../scss/core.scss */
.video_list #video_holder {
  width: 308px;
  height: 211px;
  background: url(../images/video_list.jpg) no-repeat;
  float: left;
  margin: 10px 0;
}
/* line 105, ../scss/core.scss */
.video_list #video_text {
  width: 239px;
  height: 211px;
  float: right;
  margin: 0 9px;
}
/* line 106, ../scss/core.scss */
.video_list #video_text p {
  display: block;
  padding: 5px;
  margin: 0;
}
/* line 107, ../scss/core.scss */
.video_list #video_text h2 {
  color: #426b0d;
  margin-left: -22px;
}

/* line 111, ../scss/core.scss */
.video_list.last {
  border-bottom: none;
}

/*purpule Quote*/
/* line 4, ../scss/testimonial.scss */
blockquote.purpule {
  background-image: url(../images/open_quote.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin: 50px 16px 0;
  padding: 16px 0 10px 10px;
  text-indent: 36px;
}
/* line 11, ../scss/testimonial.scss */
blockquote.purpule span {
  display: block;
  background-image: url(../images/close_quote.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 10px;
}
/* line 19, ../scss/testimonial.scss */
blockquote.purpule cite {
  color: #5e2c8d;
  font-weight: bold;
}

/* line 24, ../scss/testimonial.scss */
blockquote.orange {
  background-image: url(../images/orange_openquote.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin: 50px 16px 0;
  padding: 16px 0 10px 10px;
  text-indent: 36px;
}
/* line 31, ../scss/testimonial.scss */
blockquote.orange span {
  display: block;
  background-image: url(../images/orange_closequote.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 10px;
}
/* line 38, ../scss/testimonial.scss */
blockquote.orange cite {
  color: #f15518;
  font-weight: bold;
}
