/*purpule Quote*/
/* line 4, ../scss/testimonial.scss */
blockquote.purpule {
  background-image: url(../images/open_quote.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin: 50px 16px 0;
  padding: 16px 0 10px 10px;
  text-indent: 36px;
}
/* line 11, ../scss/testimonial.scss */
blockquote.purpule span {
  display: block;
  background-image: url(../images/close_quote.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 10px;
}
/* line 19, ../scss/testimonial.scss */
blockquote.purpule cite {
  color: #5e2c8d;
  font-weight: bold;
}

/* line 24, ../scss/testimonial.scss */
blockquote.orange {
  background-image: url(../images/orange_openquote.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin: 50px 16px 0;
  padding: 16px 0 10px 10px;
  text-indent: 36px;
}
/* line 31, ../scss/testimonial.scss */
blockquote.orange span {
  display: block;
  background-image: url(../images/orange_closequote.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 10px;
}
/* line 38, ../scss/testimonial.scss */
blockquote.orange cite {
  color: #f15518;
  font-weight: bold;
}
