/* Generic rounded box */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
/* line 17, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 36, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 45, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 50, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../scss/_typography.scss */
body {
  font-family: verdana;
  font-size: 12px;
  line-height: 18px;
  color: #4a4a4a;
}

/* BLOCKS / BOXES */
/* line 2, ../scss/_blocks.scss */
.block, .box {
  background-image: -moz-linear-gradient(top, #f4f4f4, #f9f9f9);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4));
  border: 1px solid #b1a6b7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 18px 27px;
  margin: 0 0 20px 0;
  background: #fff;
  overflow: hidden;
  /* Box model tweak, expands all blocks */
}
/* line 9, ../scss/_blocks.scss */
.block .title, .box .title {
  height: 21px;
  /* 24px - 3px padding */
  padding: 3px 0 0 21px;
  margin-bottom: 22px;
  overflow: hidden;
  background: url(../images/title_blip_orange.png) 0 0 no-repeat;
  font-size: 1.4em;
  font-weight: lighter;
  color: #FF8B00;
}

/* Newsletter block */
/* line 25, ../scss/_blocks.scss */
#block-webform-client-block-1 .webform-component-email {
  float: left;
}
/* line 27, ../scss/_blocks.scss */
#block-webform-client-block-1 .webform-component-email .form-item {
  margin: 0;
}
/* line 31, ../scss/_blocks.scss */
#block-webform-client-block-1 .form-text {
  width: 146px;
}
/* line 34, ../scss/_blocks.scss */
#block-webform-client-block-1 .form-submit {
  margin-left: 10px;
}

/* line 6, ../scss/_forms.scss */
.form-text {
  height: 23px;
  padding: 3px 10px;
  color: #171717;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 0 1px 0.1px #cccccc;
  -moz-box-shadow: inset 0 0 1px 0.1px #cccccc;
  box-shadow: inset 0 0 1px 0.1px #cccccc;
}

/* line 19, ../scss/_forms.scss */
.form-submit {
  line-height: 30px;
  -webkit-box-sizing: border-box;
  padding: 0 15px;
  height: 30px;
  display: inline-block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #995400;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  width: 68px;
  text-align: center;
  background-color: #ff8c00;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffaf4d), color-stop(70%, #ff8c00));
  background: -webkit-linear-gradient(#ffaf4d, #ff8c00 70%);
  background: -moz-linear-gradient(#ffaf4d, #ff8c00 70%);
  background: -o-linear-gradient(#ffaf4d, #ff8c00 70%);
  background: -ms-linear-gradient(#ffaf4d, #ff8c00 70%);
  background: linear-gradient(#ffaf4d, #ff8c00 70%);
  -webkit-box-shadow: #ffd199 0 1px 0 inset;
  -moz-box-shadow: #ffd199 0 1px 0 inset;
  box-shadow: #ffd199 0 1px 0 inset;
  border: 1px solid #e67e00;
  color: white;
  text-shadow: #c46c00 0 -1px 0;
}
/* line 10, ../../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/sassy-buttons-0.1.0/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:hover {
  background-color: #e67e00;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #ffa333), color-stop(75%, #e67e00));
  background: -webkit-linear-gradient(#ffa333 3%, #e67e00 75%);
  background: -moz-linear-gradient(#ffa333 3%, #e67e00 75%);
  background: -o-linear-gradient(#ffa333 3%, #e67e00 75%);
  background: -ms-linear-gradient(#ffa333 3%, #e67e00 75%);
  background: linear-gradient(#ffa333 3%, #e67e00 75%);
}
/* line 13, ../../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/sassy-buttons-0.1.0/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.form-submit:active {
  -webkit-box-shadow: #d67600 0 1px 2px inset;
  -moz-box-shadow: #d67600 0 1px 2px inset;
  box-shadow: #d67600 0 1px 2px inset;
}

/* Global page header */
/* line 4, ../scss/_header.scss */
div#header a.logo {
  background: url("../images/logo.png") no-repeat;
  height: 128px;
  position: absolute;
  width: 296px;
}
/* line 10, ../scss/_header.scss */
div#header #search_bar {
  background: url("../images/search.png") no-repeat;
  float: right;
  height: 46px;
  margin: 32px 0 50px 0;
  position: relative;
  width: 240px;
}
/* line 18, ../scss/_header.scss */
div#header #searchinput {
  background-color: transparent;
  border: 0;
  border: none;
  color: #999;
  font: inherit 20px Verdana, Geneva, sans-serif;
  height: 34px;
  left: 7px;
  margin: -48px 1px 5px -5px;
  position: absolute;
  top: 51px;
  width: 184px;
}
/* line 31, ../scss/_header.scss */
div#header #submit_btn {
  height: 40px;
  margin-top: 5px;
  padding: 0;
  position: absolute;
  right: 2px;
  top: -5px;
  width: 50px;
}

/* line 4, ../scss/_navigation.scss */
.menu {
  width: 960px;
  height: 41px;
  background: url(../images/nav_bg.jpg) repeat-x center top;
  margin: 30px auto 0px auto;
  padding: 0px 20px 0px 20px;
  position: absolute;
  border-radius: 6px;
}

/* line 15, ../scss/_navigation.scss */
ul.menu,
ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 21, ../scss/_navigation.scss */
ul.menu {
  position: relative;
  z-index: 597;
}

/* line 26, ../scss/_navigation.scss */
ul.menu li:hover > ul {
  visibility: visible;
  color: #2a4704;
}

/* line 31, ../scss/_navigation.scss */
ul.menu li.hover,
ul.menu li:hover {
  position: relative;
  z-index: 599;
  border-radius: 6px;
  cursor: pointer;
  background: url(../images/Hover_bg.jpg) repeat-x left top;
}

/* line 39, ../scss/_navigation.scss */
ul.menu li {
  float: left;
  display: block;
  height: 45px;
  color: #999;
  font: 14px Verdana;
  background: url(../images/spacer.jpg) no-repeat right center;
}

/* line 47, ../scss/_navigation.scss */
ul.menu li a {
  display: block;
  padding: 11px 20px 0 20px;
  height: 35px;
  color: #fff;
  font: 16px verdana;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 56, ../scss/_navigation.scss */
ul.menu li a:hover {
  color: #2a4704;
}

/* line 61, ../scss/_navigation.scss */
ul.menu.nav_sub {
  visibility: hidden;
  position: absolute;
  padding: 17px;
  top: 39px;
  left: 0px;
  z-index: 598;
  background: url(../images/drop_down_bg.jpg) repeat-x left top;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* line 76, ../scss/_navigation.scss */
ul.nav_sub li {
  list-style: none;
  display: block;
  padding: 0;
  height: 45px;
  float: none;
  width: 188px;
  border-bottom: 1px solid #e5e5e5;
  background: none;
}

/* line 88, ../scss/_navigation.scss */
ul.nav_sub li a {
  color: #999;
  list-style: none;
  display: block;
  height: 25px;
  float: none;
  width: 145px;
  background: none;
  font: 12px Arial, Helvetica, sans-serif;
}

/* line 99, ../scss/_navigation.scss */
ul.nav_sub li a:hover {
  background: #2a4704;
  color: #fff;
}

/* line 6, ../scss/_footer.scss */
#footer.home {
  margin: 1155px 20px;
}
/* line 3, ../scss/_footer.scss */
#footer.home #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/_footer.scss */
#footer.home #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 7, ../scss/_footer.scss */
#footer.news, #footer.about {
  margin: 1459px 14px;
}
/* line 3, ../scss/_footer.scss */
#footer.news #footer_top, #footer.about #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/_footer.scss */
#footer.news #bottom_footer, #footer.about #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 8, ../scss/_footer.scss */
#footer.videos {
  margin: 1516px 14px;
}
/* line 3, ../scss/_footer.scss */
#footer.videos #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/_footer.scss */
#footer.videos #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 9, ../scss/_footer.scss */
#footer.contact {
  margin: 823px 13px;
}
/* line 3, ../scss/_footer.scss */
#footer.contact #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/_footer.scss */
#footer.contact #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 1, ../scss/_pagination.scss */
#pagination {
  border: 0;
  margin: 10px 0;
  padding: 0;
  float: right;
  width: 250px;
}
/* line 3, ../scss/_pagination.scss */
#pagination li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 22px;
  list-style: none;
  margin-right: 2px;
}
/* line 5, ../scss/_pagination.scss */
#pagination a {
  background: #e7e7e7;
  margin-right: 2px;
}
/* line 6, ../scss/_pagination.scss */
#pagination a:link, #pagination a:visited {
  color: #2a4704;
  display: block;
  float: left;
  padding: 10px 8px;
  text-decoration: none;
}
/* line 7, ../scss/_pagination.scss */
#pagination a:hover {
  border: solid 1px #2a4704;
}
/* line 10, ../scss/_pagination.scss */
#pagination .active {
  background: #2a4704;
  color: #FFFFFF;
  font-weight: bold;
  display: block;
  float: left;
  padding: 10px 8px;
}

/*purpule Quote*/
/* line 4, ../scss/_testimonial.scss */
blockquote.purpule {
  background-image: url(../images/open_quote.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin: 50px 16px 0;
  padding: 16px 0 10px 10px;
  text-indent: 36px;
}
/* line 11, ../scss/_testimonial.scss */
blockquote.purpule span {
  display: block;
  background-image: url(../images/close_quote.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 10px;
}
/* line 19, ../scss/_testimonial.scss */
blockquote.purpule cite {
  color: #5e2c8d;
  font-weight: bold;
}

/* line 24, ../scss/_testimonial.scss */
blockquote.orange {
  background-image: url(../images/orange_openquote.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin: 50px 16px 0;
  padding: 16px 0 10px 10px;
  text-indent: 36px;
}
/* line 31, ../scss/_testimonial.scss */
blockquote.orange span {
  display: block;
  background-image: url(../images/orange_closequote.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 10px;
}
/* line 38, ../scss/_testimonial.scss */
blockquote.orange cite {
  color: #f15518;
  font-weight: bold;
}

/* line 14, ../scss/_layout.scss */
#bottom {
  width: 942px;
  margin: 448px 30px;
  position: absolute;
  height: 100%;
}

/* Main page layout, from basic theme's layout.sass */
/* line 17, ../scss/_layout.scss */
#main {
  width: 960px;
  margin: 0 auto;
}

/* line 21, ../scss/_layout.scss */
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

/* line 27, ../scss/_layout.scss */
.sidebar {
  float: left;
}

/* line 30, ../scss/_layout.scss */
#sidebar-second {
  float: right;
}

/* line 33, ../scss/_layout.scss */
#footer {
  float: none;
  clear: both;
}

/* line 41, ../scss/_layout.scss */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* line 46, ../scss/_layout.scss */
.two-sidebars .center,
.sidebar-left .center {
  margin-left: 220px;
}

/* line 50, ../scss/_layout.scss */
#sidebar-first {
  width: 200px;
  margin-right: -220px;
}

/* line 56, ../scss/_layout.scss */
.two-sidebars .center,
.sidebar-right .center {
  margin-right: 320px;
}

/* line 60, ../scss/_layout.scss */
#sidebar-second {
  width: 300px;
}

/* line 78, ../scss/_layout.scss */
#bg {
  height: 200%;
  left: -50%;
  position: fixed;
  top: 0%;
  width: 200%;
}

/* line 85, ../scss/_layout.scss */
#bg img {
  bottom: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 95, ../scss/_layout.scss */
.wrapper {
  display: block;
  height: 2000px;
  margin: 0 auto;
  width: 960px;
}

/* line 101, ../scss/_layout.scss */
#main {
  display: block;
  height: 100%;
  margin-top: 80px;
  min-height: 1360px;
  padding: 20px 0 10px 15px;
  position: absolute;
  width: 960px;
}

/* line 118, ../scss/_layout.scss */
div.main_content p {
  color: #000000;
  display: block;
  font-family: verdana;
  font-size: 12px;
  line-height: 22px;
  padding: 10px 20px;
}

/* line 128, ../scss/_layout.scss */
#contact_us p {
  padding: 10px 40px;
}
/* line 131, ../scss/_layout.scss */
#contact_us .row {
  float: left;
  padding: 25px 0 0 40px;
  width: 500px;
}
/* line 136, ../scss/_layout.scss */
#contact_us input {
  background: url(../images/text_field.png) no-repeat;
  color: #999;
  height: 38px;
  padding: 4px 10px 5px;
  width: 443px;
}
/* line 143, ../scss/_layout.scss */
#contact_us textarea {
  background: url(../images/text_area.png) no-repeat;
  border: none;
  display: block;
  font-family: verdana;
  font-size: 12px;
  height: 212px;
  line-height: 22px;
  padding: 10px;
  width: 444px;
}

/* line 155, ../scss/_layout.scss */
h2 {
  color: #572983;
  display: block;
  font-size: 27px;
  line-height: 40px;
  padding: 10px 0 0 22px;
}

/* line 163, ../scss/_layout.scss */
#banner img {
  height: 271px;
  margin: 0;
  padding: 5px 5px 0;
  width: 560px;
}

/* line 178, ../scss/_layout.scss */
div.right_col .sub_menu ul li {
  border-bottom: 1px dashed #c9c6c4;
  margin: 10px 22px 0 5px;
  padding: 10px;
}
/* line 184, ../scss/_layout.scss */
div.right_col .sub_menu ul a:hover {
  background: #467707;
  padding: 10px;
}
/* line 191, ../scss/_layout.scss */
div.right_col .about_us.newsletter {
  margin-top: 18px;
  width: 304px;
}
/* line 195, ../scss/_layout.scss */
div.right_col .testimonial_box {
  height: 452px;
  margin-top: 20px;
  padding: 10px;
}
/* line 201, ../scss/_layout.scss */
div.right_col .text_bundles .title {
  background: url(../images/text_bundles_03.gif) no-repeat;
  height: 31px;
  margin: 28px;
  width: 137px;
}
/* line 208, ../scss/_layout.scss */
div.right_col .text_bundles .download .dl_icon {
  margin: 5px;
}
/* line 211, ../scss/_layout.scss */
div.right_col .text_bundles .download a {
  padding: 5px;
  text-decoration: none;
}
/* line 217, ../scss/_layout.scss */
div.right_col #contact_details {
  height: 286px;
}

/* Specific site sections and pages */
/* line 21, ../scss/core.scss */
body.front {
  /* FRONT PAGE */
}
/* line 4, ../scss/pages/_page-front.scss */
body.front #banner_area {
  padding: 5px;
  margin: 15px 24px 0 9px;
  position: absolute;
}
/* line 10, ../scss/pages/_page-front.scss */
body.front #banner_area #block-views-home_page_banner-block_1 .slides {
  background: url("../images/banner_bg.jpg") no-repeat;
  height: 321px;
  margin: 0;
  width: 622px;
  padding: 5px;
}
/* line 17, ../scss/pages/_page-front.scss */
body.front #banner_area #block-views-home_page_banner-block_1 li {
  float: left;
  list-style-type: none;
  display: block;
}
/* line 24, ../scss/pages/_page-front.scss */
body.front #banner_left {
  float: left;
  width: 620px;
  margin-right: 20px;
}
/* line 29, ../scss/pages/_page-front.scss */
body.front #banner_right {
  float: right;
  width: 300px;
}
/* line 35, ../scss/pages/_page-front.scss */
body.front .box {
  float: left;
  margin-left: 20px;
  width: 233px;
  height: 526px;
  overflow: hidden;
}
/* line 43, ../scss/pages/_page-front.scss */
body.front #block-views-Featured_video_home-block_1 {
  padding: 3px;
}
