/* line 6, ../scss/footer.scss */
#footer.home {
  margin: 1155px 20px;
}
/* line 3, ../scss/footer.scss */
#footer.home #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/footer.scss */
#footer.home #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 7, ../scss/footer.scss */
#footer.news, #footer.about {
  margin: 1459px 14px;
}
/* line 3, ../scss/footer.scss */
#footer.news #footer_top, #footer.about #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/footer.scss */
#footer.news #bottom_footer, #footer.about #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 8, ../scss/footer.scss */
#footer.videos {
  margin: 1516px 14px;
}
/* line 3, ../scss/footer.scss */
#footer.videos #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/footer.scss */
#footer.videos #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}

/* line 9, ../scss/footer.scss */
#footer.contact {
  margin: 823px 13px;
}
/* line 3, ../scss/footer.scss */
#footer.contact #footer_top {
  background: url(../images/footer.png) no-repeat;
  height: 60px;
  padding: 42px;
  position: absolute;
  width: 961px;
}
/* line 4, ../scss/footer.scss */
#footer.contact #bottom_footer {
  background: url(../images/footer_img.gif) no-repeat;
  width: 961px;
  height: 60px;
  margin-top: 67px;
  position: absolute;
}
